.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.btn {
font-size: 14px;
padding: 10px;
background-color: red;
color: white;
border-radius:12px;
border: none;
width:80px;
margin-top: 16px;
cursor:pointer;
margin-left: 195px;
margin-top: 40px;
}

.cont{

 border: 2px white solid;
 width:500px;
 height: 300px;
 border-radius: 12px;
 background: #000411;

}

.cta, .cta_1,.cta_2,.cta_3 {

    margin-left: 18px;
    color: #CFF27E;
}

.cta {
    color:aqua;
    font-size: 26px;
}

h4 {
    margin-top: 26px;
    font-size: 22px;
    text-transform: uppercase;
    
}